/* Write your code here. */
* {
  box-sizing: content-box;
}
body {
  margin: 0;
}
.bg-container {
  background-color: #0f172a;
  align-items: center;
  padding: 50px;
  display: flex;
  flex-direction: column;
}
.heading {
  color: white;
  font-family: Arial;
  font-size: 40px;
}
.image-container {
  display: flex;
  flex-direction: row;
}
.image-logo {
  height: 280px;
  width: 280px;
}
